<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-dialog header="Creación de Compañia" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '80vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <form action="" id="formClient" [noValidate]="false">
        <div class="row">
            <div class="col col-md-12">
                <app-text [name]="'dniPerito'" [variable]="item" [element]="'dniPerito'" [type]="'number'"
                    [text]="'DNI'">
                </app-text>
            </div>
            <div class="col col-md-12">
                <app-text [name]="'nombrePerito'" [variable]="item" [element]="'nombrePerito'" [text]="'Nombre'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'apellidoPerito1'" [variable]="item" [element]="'apellidoPerito1'"
                    [text]="'Primer apellido'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'apellidoPerito2'" [variable]="item" [element]="'apellidoPerito2'"
                    [text]="'Segundo apellido'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'telefonoContacto'" [variable]="item" [element]="'telefonoContacto'" [type]="'tel'"
                    [text]="'Telefono de Contacto'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'telefonoOficina'" [variable]="item" [element]="'telefonoOficina'" [type]="'tel'"
                    [text]="'Telefono de Oficina'">
                </app-text>
            </div>
            <div class="col col-md-4 mt-3">
                <app-text [name]="'claseVia'" [variable]="item" [element]="'claseVia'" [text]="'Clase de Via'">
                </app-text>
            </div>
            <div class="col col-md-4 mt-3">
                <app-text [name]="'nombreVia'" [variable]="item" [element]="'nombreVia'" [text]="'Nombre de Via'">
                </app-text>
            </div>
            <div class="col col-md-4 mt-3">
                <app-text [name]="'numeroVia'" [variable]="item" [element]="'numeroVia'" [text]="'Numero de Via'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'codPostal'" [variable]="item" [element]="'codPostal'" [text]="'Codigo Postal'">
                </app-text>
            </div>
            <div class="col col-md-6 mt-3">
                <app-text [name]="'ciudad'" [variable]="item" [element]="'ciudad'" [text]="'Ciudad'">
                </app-text>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col col-md-6 mt-3">
                <div class="form-group">
                    <button pButton type="submit" (click)="enviarFormulario()" class="w-100 p-button-submit"
                        label="{{titulo}}"></button>
                </div>
            </div>
            <div class="col col-md-6 mt-3">
                <div class="form-group">
                    <button pButton type="button" (click)="cancelar()" class="w-100 p-button-secondary"
                        label="Cancelar"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-toast position="top-center" key="tc"></p-toast>
<div class="card text-white">
    <div class="card-header font-weight-bold" style="background-color: #2a323d;">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h5>Compañias</h5>
            </div>
            <div class="p-toolbar-group-right">
                <p-button (click)="showMaximizableDialog()" icon="pi pi-plus"></p-button>
            </div>
        </p-toolbar>
    </div>
    <div class="card-body" style="background-color: #2a323df7; width: 100%; height: 515px;  overflow: auto;">
        <div class="row">
            <div class="col col-md-12 mt-3">
                <p-table #dt class="w-100" [value]="items" [lazy]="true" [columns]="cols" (onLazyLoad)="obtener($event)"
                    responsiveLayout="scroll" dataKey="id" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
                    [loading]="loading" [showCurrentPageReport]="true" allowUnsorting="true" responsiveLayout="scroll"
                    sortMode="single" currentPageReportTemplate=" Mostrando {first} a {last} de {totalRecords} entradas"
                    [rowsPerPageOptions]="[5,10,25,50,100]" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th scope="col" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th scope="col">
                                Editar/Eliminar
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-columns="columns">
                        <tr [pSelectableRow]="data">
                            <td *ngFor="let col of columns">
                                {{data[col.field]}}
                            </td>
                            <td>
                                <button pButton class="w-100" type="button" icon="pi pi-pencil"
                                    (click)="editar(data)"></button>
                                <button class="w-100 btn-danger ms-1" pButton type="button" icon="pi pi-times"
                                    (click)="confirmarDelete(data)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>