<div class="card text-white">
    <div class="card-header font-weight-bold" style="background-color: #2a323d;">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h5>Relación Compania y Seguro</h5>
            </div>
            <div class="p-toolbar-group-right">
                <p-button (click)="back()" icon="pi pi-chevron-left"></p-button>
            </div>
        </p-toolbar>
    </div>
    <div class="card-body" style="background-color: #2a323df7; width: 100%; height: 515px;  overflow: auto;">
        <div class="row">
            <div class="col col-md-12 mt-3">
                <form action="" id="formClient" [noValidate]="false">
                    <div class="row">
                        <div class="col col-md-12">
                            <app-text [readonly]="true" [name]="'id'" [variable]="companiaSeguro" [element]="'id'"
                                [type]="'number'" [text]="'ID'">
                            </app-text>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col col-md-12 mt-3">
                <p-accordion>
                    <p-accordionTab header="Seguro Asociado">
                        <form action="" id="formClient" [noValidate]="false">
                            <div class="row">
                                <div class="col col-md-6">
                                    <app-text [readonly]="true" [name]="'numeroPoliza'" [variable]="seguro"
                                        [element]="'numeroPoliza'" [text]="'Numero de Poliza'" [maxlength]="''"
                                        [type]="'number'">
                                    </app-text>
                                </div>
                                <div class="col col-md-6">
                                    <app-text [readonly]="true" [name]="'ramo'" [variable]="seguro" [element]="'ramo'"
                                        [text]="'Ramo'">
                                    </app-text>
                                </div>
                                <div class="col col-md-6 mt-3">
                                    <app-text [readonly]="true" [name]="'fechaInicio'" [variable]="seguro"
                                        [element]="'fechaInicio'" [text]="'Fecha de Inicio'" [type]="'date'">
                                    </app-text>
                                </div>
                                <div class="col col-md-6 mt-3">
                                    <app-text [readonly]="true" [name]="'fechaVencimiento'" [variable]="seguro"
                                        [element]="'fechaVencimiento'" [text]="'Fecha de Vencimiento'" [type]="'date'">
                                    </app-text>
                                </div>
                                <div class="col col-md-6 mt-3">
                                    <app-text [readonly]="true" [name]="'condicionesParticulares'" [variable]="seguro"
                                        [element]="'condicionesParticulares'" [text]="'Condiciones Particulares'">
                                    </app-text>
                                </div>
                                <div class="col col-md-6 mt-3">
                                    <app-text [readonly]="true" [name]="'dniCl'" [variable]="seguro" [element]="'dniCl'"
                                        [text]="'DNI cliente'">
                                    </app-text>
                                </div>
                                <div class="col col-md-12 mt-3">
                                    <app-text [readonly]="true" [name]="'observaciones'" [variable]="seguro"
                                        [element]="'observaciones'" [text]="'Observaciones'">
                                    </app-text>
                                </div>
                            </div>
                        </form>
                    </p-accordionTab>
                    <p-accordionTab header="Compañia Asociada">
                        <form action="" id="formClient" [noValidate]="false">
                            <div class="row">
                                <div class="col col-md-12">
                                    <app-text [readonly]="true" [name]="'nombreCompania'" [variable]="compania"
                                        [element]="'nombreCompania'" [text]="'Nombre'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'claseVia'" [variable]="compania"
                                        [element]="'claseVia'" [text]="'Clase de Via'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'nombreVia'" [variable]="compania"
                                        [element]="'nombreVia'" [text]="'Nombre de Via'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'numeroVia'" [variable]="compania"
                                        [element]="'numeroVia'" [text]="'Numero de Via'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'codPostal'" [variable]="compania"
                                        [element]="'codPostal'" [text]="'Codigo Postal'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'telefonoContratacion'" [variable]="compania"
                                        [element]="'telefonoContratacion'" [text]="'Telefono de Contratación'"
                                        [maxlength]="'10'">
                                    </app-text>
                                </div>
                                <div class="col col-md-4 mt-3">
                                    <app-text [readonly]="true" [name]="'telefonoSiniestros'" [variable]="compania"
                                        [element]="'telefonoSiniestros'" [text]="'Telefono de Siniestros'"
                                        [maxlength]="'10'">
                                    </app-text>
                                </div>
                                <div class="col col-md-12 mt-3">
                                    <app-text [readonly]="true" [name]="'notas'" [variable]="compania"
                                        [element]="'notas'" [text]="'Notas'" maxlength="50">
                                    </app-text>
                                </div>
                                <div class="col col-md-12 mt-3">
                                    <div class="form-group">
                                        <button pButton type="submit" (click)="view()" class="w-100 p-button-submit"
                                            label="Ver"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p-accordionTab>
                </p-accordion>

            </div>

        </div>
    </div>
</div>