<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>
<div class="card text-white">
    <div class="card-header font-weight-bold" style="background-color: #2a323d;">
        <h5>Clientes</h5>
    </div>
    <div class="card-body" style="background-color: #2a323df7; overflow: scroll;">
        <div style="width: 100%; height: 485px;">
            <div class="row">
                <div class="col col-md-4">
                    <form action="" id="formClient" [noValidate]="false">
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="nombreCl" name="nombreCl" type="text" pInputText
                                            [(ngModel)]="client.nombreCl" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="nombreCl">Nombre</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-6 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="apellido1" name="apellido1" type="text" pInputText
                                            [(ngModel)]="client.apellido1" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="apellido1">Primer apellido</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-6 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="apellido2" name="apellido2" type="text" pInputText
                                            [(ngModel)]="client.apellido2" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="apellido2">Segundo apellido</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="claseVia" name="claseVia" type="text" pInputText
                                            [(ngModel)]="client.claseVia" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="claseVia">Clase de Via</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="nombreVia" name="nombreVia" type="text" pInputText
                                            [(ngModel)]="client.nombreVia" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="nombreVia">Nombre de Via</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="numeroVia" name="numeroVia" type="text" pInputText
                                            [(ngModel)]="client.numeroVia" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="numeroVia">Numero de Via</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="codPostal" name="codPostal" type="text" pInputText
                                            [(ngModel)]="client.codPostal" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="codPostal">Codigo Postal</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="ciudad" name="ciudad" type="text" pInputText
                                            [(ngModel)]="client.ciudad" required="" maxlength="20"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="ciudad">ciudad</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-4 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="telefono" name="telefono" type="tel" pInputText
                                            [(ngModel)]="client.telefono" required="" maxlength="10"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="telefono">Telefono</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-12 mt-3">
                                <div class="form-group">
                                    <span class="p-float-label p-fluid mt-3">
                                        <input id="observaciones" name="observaciones" type="text" pInputText
                                            [(ngModel)]="client.observaciones" maxlength="50"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="observacionest">Observaciones</label>
                                    </span>
                                </div>
                            </div>
                            <div class="col col-md-6 mt-3">
                                <div class="form-group">
                                    <button pButton type="submit" (click)="enviarFormulario()"
                                        class="w-100 p-button-submit" label="{{titulo}}"></button>
                                </div>
                            </div>
                            <div class="col col-md-6 mt-3">
                                <div class="form-group">
                                    <button pButton type="reset" class="w-100 p-button-secondary"
                                        label="Cancelar"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col col-md-8 mt-4">
                    <p-table class="w-100" [value]="clients" [lazy]="true" [columns]="cols"
                        (onLazyLoad)="obtenerClientes($event)" responsiveLayout="scroll" dataKey="id" [paginator]="true"
                        [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
                        allowUnsorting="true" responsiveLayout="scroll" sortMode="single"
                        currentPageReportTemplate=" Mostrando {first} a {last} de {totalRecords} entradas"
                        [rowsPerPageOptions]="[5,10,25,50,100]" [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th scope="col" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th scope="col">
                                    Editar
                                </th>
                                <th scope="col">
                                    Eliminar
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-client let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{client[col.field]}}
                                </td>
                                <td>
                                    <button pButton class="w-100" type="button" icon="pi pi-pencil"
                                        (click)="editarCliente(client)"></button>
                                </td>
                                <td>
                                    <button class="w-100" pButton type="button" icon="pi pi-times"
                                        (click)="confirmarDelete(client)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>